.root {
  --color-bg: #2a3950;
  --color-bg-variant: #41436a;
  --color-text: #ffffff;
  --color-text-variant: #974063;
  --color-cell-active: #ff9678;
  --color-cell-select: #f54768;
  --color-cell-highlight: #974063;

  background-color: var(--color-bg);
  display: flex;
  font-family: 'Proba Pro', 'Arial';
  flex-direction: column;
  justify-content: space-between;
  
  height: 100vh;
  
  margin: 0 auto;
  min-width: 320px;
  max-width: 500px;
  user-select: none;

  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

@media screen and (max-width: 600px) {
  .root {
    max-width: 300px;
  }
}