.game-area__control-reset {
    border: none;
    background-color: var(--color-text-variant);
   
    margin: 0;
    transition: background-color .25s;
    margin-top: 30px;
}

.game-area__control-reset:hover {
    background-color: var(--color-cell-select);
    transition: background-color .25s;
}