.root {
  --color-bg: #181818;
  --color-bg-variant: #4E5860;
  --color-text: #ffffff;
  --color-text-variant: #3F3F3F;
  --color-cell-active: #F8B363;
  --color-cell-select: #D17B69;
  --color-cell-highlight: #8F5564;

  background-color: var(--color-bg);
  display: flex;
  font-family: 'Proba Pro', 'Arial';
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  margin: 0 auto;
  min-width: 320px;
  max-width: 500px;
  user-select: none;

  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  
}

@media screen and (max-width: 600px) {
  .root {
    max-width: 300px;
  }
}