.root {
    font-family: Inter, "Arial";
    min-width: 320px;
    max-width: 500px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    user-select: none;

    --cell-active: rgb(93, 125, 163);
    --cell-select: rgb(135, 170, 208);
    --cell-highlight: rgba(178, 214, 248, .25);

    --text-color: #2a2c2f;
}

@media screen and (max-width: 600px) {
    .root {
        max-width: 300px;
    }
}