.popup__close-button {
    background-color: transparent;
    background-image: url(../../../images/icon-popup-close.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: none;
    height: 25px;
    width: 25px;
    position: absolute;
    padding: 0;
    top: 15px;
    right: 15px;
    transition: .25s opacity;
    cursor: pointer;
    filter: contrast(0.3);
}

.popup__close-button:hover {
    opacity: .6;
    transition: .25s opacity;
}

@media screen and (max-width: 620px) {
    .popup__close-button {
        height: 20px;
        width: 20px;
    }
}