.button {
    
    border-radius: 2px;
    color: var(--color-text);
    display: table-cell;
    flex: 1;
    padding: 5px 0;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    vertical-align: middle;
}