.button {
    
    border-radius: 2px;
    color: var(--color-text);
    display: table-cell;

    padding: 0;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    vertical-align: middle;
}