.button {
    font-size: 14px;
    line-height: 22px;
    border-radius: 2px;
    color: var(--color-text);
    width: 70px;
    height: 30px;
    padding: 0;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
}